<% include ../views/common/head.html %>
<link rel="stylesheet" href="./stylesheets/index/css/index.css">
</head>
<body>
<!--导航条-->
<% include ../views/common/navigation.html %>
<div class="column">
    <div class="event">
        <div class="event-list EventList">
            <div class="event-items">
                <div class="event-item selected" data-matchid="2469710">
                    <div class="event-info">
                        <div class="event-left event-time">01:00</div>
                        <div class="event-left event-time">04-25</div>
                        <div class="event-left event-name"><img
                                src="https://cdn.leisu.com/eventlogo/0e455c62866c2a55a13ceae50c9721bb.png">奥业余杯
                        </div>
                        <div class="event-left event-team ellipsis" title="萨尔斯堡AKVS平茲高">萨尔斯堡AKVS平茲高</div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-icon"><i class="iconfont icon-collection_fill star-i"></i></div>
                        <div class="event-left event-icon"><i class="iconfont icon-post"></i></div>
                    </div>
                </div>
                <div class="event-details">
                    <div class="details-left">
                        <ul>
                            <li class="Bets selected" data-type="eu">欧赔</li>
                            <li class="Bets" data-type="asia">竞猜亚盘</li>
                            <li class="Bets" data-type="bs">大小盘</li>
                            <li class="Bets" data-type="view">观点</li>
                        </ul>
                        <table class="details-table">
                            <tr>
                                <th>公司</th>
                                <th>初始赔率</th>
                                <th class="th-width">即时赔率</th>
                            </tr>
                        </table>
                        <div class="Ssss" style="width: 790px;height: 300px">
                            <table class="details-table">
                                <tr class="list-item">
                                    <td class="td-name">ManbetX</td>
                                    <td>
                                        <div class="td-rate">
                                            <div>1.74</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.9</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-rate">
                                            <div class="iconfont icon-down-after">1.71</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="">3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="iconfont icon-up-after">4</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="list-item">
                                    <td class="td-name">SB</td>
                                    <td>
                                        <div class="td-rate">
                                            <div>1.74</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.9</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-rate">
                                            <div class="iconfont icon-down-after">1.71</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="">3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="iconfont icon-up-after">4</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="list-item">
                                    <td class="td-name">ManbetX</td>
                                    <td>
                                        <div class="td-rate">
                                            <div>1.74</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.9</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-rate">
                                            <div class="iconfont icon-down-after">1.71</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="">3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="iconfont icon-up-after">4</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="list-item">
                                    <td class="td-name">SB</td>
                                    <td>
                                        <div class="td-rate">
                                            <div>1.74</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.9</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-rate">
                                            <div class="iconfont icon-down-after">1.71</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="">3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="iconfont icon-up-after">4</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="list-item">
                                    <td class="td-name">ManbetX</td>
                                    <td>
                                        <div class="td-rate">
                                            <div>1.74</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.9</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-rate">
                                            <div class="iconfont icon-down-after">1.71</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="">3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="iconfont icon-up-after">4</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="list-item">
                                    <td class="td-name">SB</td>
                                    <td>
                                        <div class="td-rate">
                                            <div>1.74</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.9</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-rate">
                                            <div class="iconfont icon-down-after">1.71</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="">3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="iconfont icon-up-after">4</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="list-item">
                                    <td class="td-name">ManbetX</td>
                                    <td>
                                        <div class="td-rate">
                                            <div>1.74</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.9</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-rate">
                                            <div class="iconfont icon-down-after">1.71</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="">3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="iconfont icon-up-after">4</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="list-item">
                                    <td class="td-name">SB</td>
                                    <td>
                                        <div class="td-rate">
                                            <div>1.74</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div>3.9</div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-rate">
                                            <div class="iconfont icon-down-after">1.71</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="">3.75</div>
                                        </div>
                                        <div class="td-rate">
                                            <div class="iconfont icon-up-after">4</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="details-right">
                        <div class="details-team">
                            <div class="team-left"><img
                                    src="https://cdn.leisu.com/teamflag_s/fdc4b337fa11bf46a8decf8861387ee3.png">
                                <div>萨尔斯堡AK</div>
                            </div>
                            <div class="team-vs"><img src="./stylesheets/index/images/vs.png"></div>
                            <div class="team-left"><img
                                    src="https://cdn.leisu.com/teamflag_s/33681279c167c7fcd2997ed72cfb4c4a.png">
                                <div>平茲高</div>
                            </div>
                        </div>
                        <div class="win-rate">
                            <div>历史交锋胜率</div>
                            <div class="progress-div">
                                <div class="progress-value ProgressValue">0%</div>
                                <div class="progress">
                                    <div class="progress-bar" style="width:0%"></div>
                                </div>
                                <div class="progress-value ProgressValue">100%</div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                        <div class="win-rate">
                            <div>最近6场比赛进球数</div>
                            <div class="progress-div">
                                <div class="progress-value ProgressValue">11</div>
                                <div class="progress">
                                    <div class="progress-bar" style="width:47.83%"></div>
                                </div>
                                <div class="progress-value ProgressValue">12</div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                        <div class="win-rate">
                            <div>最近6场比赛失利数</div>
                            <div class="progress-div">
                                <div class="progress-value ProgressValue">11</div>
                                <div class="progress">
                                    <div class="progress-bar" style="width:52.38%"></div>
                                </div>
                                <div class="progress-value ProgressValue">10</div>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                        <div class="win-rate">
                            <div>最近6场比赛战绩</div>
                            <div class="win-span"><span class="win-left"><span
                                    class="blue-text">L</span><span>-</span><span
                                    class="red-text">W</span><span>-</span><span class="red-text">W</span><span>-</span><span
                                    class="blue-text">L</span><span>-</span><span
                                    class="green-text">D</span><span>-</span><span class="blue-text">L</span></span>
                                <span class="win-right"><span class="blue-text">L</span><span>-</span><span
                                        class="blue-text">L</span><span>-</span><span
                                        class="blue-text">L</span><span>-</span><span
                                        class="red-text">W</span><span>-</span><span
                                        class="blue-text">L</span><span>-</span><span class="blue-text">L</span></span>
                            </div>
                        </div>
                        <div class="win-last"> （右边为最近一场比赛赛果，w-赢，D-平，L-输）</div>
                    </div>
                </div>
            </div>
            <div class="event-items">
                <div class="event-item" data-matchid="2469760">
                    <div class="event-info">
                        <div class="event-left event-time">01:00</div>
                        <div class="event-left event-time">04-25</div>
                        <div class="event-left event-name"><img
                                src="https://cdn.leisu.com/eventlogo/be642178c4c84159098b4758940209f4.png">丹麦F
                        </div>
                        <div class="event-left event-team ellipsis" title="奧比VS克拉若卜埃斯佩">奧比VS克拉若卜埃斯佩</div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-icon"><i class="iconfont icon-collection_fill star-i"></i></div>
                        <div class="event-left event-icon"><i class="iconfont icon-post"></i></div>
                    </div>
                </div>
            </div>
            <div class="event-items">
                <div class="event-item" data-matchid="2469686">
                    <div class="event-info">
                        <div class="event-left event-time">01:30</div>
                        <div class="event-left event-time">04-25</div>
                        <div class="event-left event-name"><img
                                src="https://cdn.leisu.com/eventlogo/92923cfe5b8d3d83db447ce0e5269b36.png">北爱中联
                        </div>
                        <div class="event-left event-team ellipsis" title="班朴利治VS皇后大学">班朴利治VS皇后大学</div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-icon"><i class="iconfont icon-collection_fill star-i"></i></div>
                        <div class="event-left event-icon"><i class="iconfont icon-post"></i></div>
                    </div>
                </div>
            </div>
            <div class="event-items">
                <div class="event-item" data-matchid="2469718">
                    <div class="event-info">
                        <div class="event-left event-time">01:30</div>
                        <div class="event-left event-time">04-25</div>
                        <div class="event-left event-name"><img
                                src="https://cdn.leisu.com/eventlogo/c34976408e99351d4c741c365e56c28d.png">比后备
                        </div>
                        <div class="event-left event-team ellipsis" title="安德莱赫特后备队VS洛克伦后备队">安德莱赫特后备队VS洛克伦后备队</div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-icon"><i class="iconfont icon-collection_fill star-i"></i></div>
                        <div class="event-left event-icon"><i class="iconfont icon-post"></i></div>
                    </div>
                </div>
            </div>
            <div class="event-items">
                <div class="event-item" data-matchid="2469715">
                    <div class="event-info">
                        <div class="event-left event-time">01:30</div>
                        <div class="event-left event-time">04-25</div>
                        <div class="event-left event-name"><img
                                src="https://cdn.leisu.com/eventlogo/c34976408e99351d4c741c365e56c28d.png">比后备
                        </div>
                        <div class="event-left event-team ellipsis" title="科特赖克后备队VS安特卫普后备队">科特赖克后备队VS安特卫普后备队</div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-rate"></div>
                        <div class="event-left event-icon"><i class="iconfont icon-collection_fill star-i"></i></div>
                        <div class="event-left event-icon"><i class="iconfont icon-post"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="event-soon">
            查看更多
        </div>
    </div>
</div>
<% include ../views/common/commonjs.html%>
<script src="third-party/jquery.carouFredSel-6.0.4-packed.js"></script>
<script>
    $(document).ready(
        function () {
            $(".Ssss").niceScroll();
        }
    );
</script>
</body>
</html>