<div class="bottom-hr">
    <!--<div class="bottom-list container">-->
        <!--<div class="bottom-info">-->
            <!--<p>关于我们</p>-->
            <!--<p>服务条款</p>-->
            <!--<p>隐私政策</p>-->
            <!--<p>免责声明</p>-->
        <!--</div>-->
        <!--<div class="bottom-info">-->
            <!--<p>友情链接</p>-->
            <!--<p>彩票圈</p>-->
            <!--<p>上海技术支持</p>-->
        <!--</div>-->
        <!--<div class="bottom-info">-->

            <!--<p>联系QQ：567567312</p>-->
            <!--<p>广告联系QQ：23123123(广告专用)</p>-->
            <!--<p>E_mail：qiuyoule@moxi.com</p>-->
        <!--</div>-->

        <!--<div class="bottom-info">-->

            <!--<img src="./stylesheets/downloadPage/images/qrcode.png">-->
            <!--<p>扫一扫，下载APP</p>-->
        <!--</div>-->
        <!--<div class="bottom-logo"><img src="./stylesheets/index/images/logo.png"></div>-->
    <!--</div>-->
    <div class="bottom-text">
        <!--<div class="hr"></div>-->
        <!--<div>访问本站表明您同意：本站所有数据与资料、任何广告仅供您谨慎参考，本站不承担您的任何损失和责任</div>-->
        <div>Copyright © 2017 - 2027 手机版   www.qiuyoule.com 备案号：沪ICP备17024958号-5</div>
    </div>
</div>