<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="never">
    <link rel="stylesheet" href="/third-party/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/common/base.css">
    <link rel="stylesheet" href="./stylesheets/common/reset.css">
    <link rel="stylesheet" href="./stylesheets/common/css/common.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/common/icons/iconfont.css">
    <!--<script>-->
        <!--var ua = navigator.userAgent;-->
        <!--var ipad = ua.match(/(iPad).*OS\s([\d_]+)/),-->
            <!--isIphone =  ua.match(/(iPhone\sOS)\s([\d_]+)/),-->
            <!--isAndroid = ua.match(/(Android)\s+([\d.]+)/),-->
            <!--isMobile = isIphone || isAndroid;-->
        <!--if(isMobile) {-->
            <!--window.location.href="/phoneDownload.html";-->
        <!--}-->
    <!--</script>-->
