<div class="head-logo">
    <div class="content-auto">
        <img class="web-logo" src="./stylesheets/index/images/logo.png">
        <div class="query">
            <input placeholder="大家都在搜：彩票圈七星彩图谜专家野百合">
            <div class="botton"><i class="iconfont icon-Search-copy"></i></div>
        </div>
    </div>
</div>
<div class="head-v3">
    <nav class="content-auto navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#">福彩3D</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">体彩P3<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">P3预测</a></li>
                            <li><a href="#">P3图谜</a></li>
                            <li><a href="#">P3字谜</a></li>
                            <li><a href="#">P3条件</a></li>
                            <li><a href="#">P3胆码</a></li>
                            <li><a href="#">P3杀码</a></li>
                        </ul>
                    </li>
                    <li><a href="#">双色球</a></li>
                    <li><a href="#">大乐透</a></li>
                    <li><a href="#">体彩PS</a></li>
                    <li><a href="#">七星彩</a></li>
                    <li><a href="#">七乐彩</a></li>
                    <li><a href="#">技巧</a></li>
                    <li><a href="#">热点导航</a></li>
                    <li><a href="#">走势图</a></li>
                    <li><a href="#">名彩论坛</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--<div id='cssmenu' class="content-auto">-->
        <!--<ul>-->
            <!--<li><a href='#'>首页</a></li>-->
            <!--<li class='active has-sub'><a href='#'>网页特效</a>-->
                <!--<ul>-->
                    <!--<li class='has-sub'><a href='#'>jQuery特效</a>-->
                        <!--<ul>-->
                            <!--<li><a href='#'>HTML5</a></li>-->
                            <!--<li><a href='#'>CSS3</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class='has-sub'><a href='#'>JS代码</a>-->
                        <!--<ul>-->
                            <!--<li><a href='#'>Nav2</a></li>-->
                            <!--<li><a href='#'>Nav3</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</li>-->
            <!--<li><a href='#'>jQuery</a></li>-->
            <!--<li><a href='#'>flash动画</a></li>-->
        <!--</ul>-->
    <!--</div>-->
</div>
